.section {
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #536a70;
  width: 100%;
}

.title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 20px 0;
}

.contacts__text {
  list-style: none;
}

.contacts__item {
  padding: 5px 0;
}

.contacts__item a {
  color:rgb(67, 99, 78);
  transition: 0.5s;
}

.contacts__text li:nth-child(6) {
  font-size: 16.4px;
}

.contacts__item a:hover {
  color:rgb(199, 209, 252);
  transition: 0.5s;
}

b {
  color: black;
  font-weight: bold;
}