
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
header,
footer,
nav,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth; 
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
p {
  width: auto;
  overflow-wrap: break-word;
}
.container {
  max-width: 64rem;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 5px 2px #DBDBDB;
}
.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left__column {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  padding: 20px 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.right__column {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
  padding: 20px 20px;
}
@media screen and (max-width: 819px) {
  .main__container{
    flex-direction: column;
  }
  .section {
    align-items: center;
  }
}
