.header {
  // padding: 100px 150px 0px 110px;
  background-color: rgb(75, 74, 74);
  color: white;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 0;
}

.nav-link {
  line-height: 50px;
  transition: 3s;
  padding: 0 16px;
}

.nav-link:hover {
  color: rgb(148, 148, 240);
  text-decoration: underline;
}