.header__wrapper {
  background-color:gray;
  color: white;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px 0;
  list-style: none;
}

.nav__link {
  line-height: 50px;
  transition: 3s;
  padding: 0 16px;
  transition: 0.7s;
}

.nav__link:hover {
  color:rgb(199, 209, 252);
  text-decoration: underline;
}

@media screen and (max-width: 819px) {
  .nav__item {
    text-align: center;
    width: 100%;
    margin: 0 0;
  }
}