* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.container {
  max-width: 64rem;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 5px 2px #DBDBDB;
}

.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left__column {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  padding: 20px 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.right__column {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
  padding: 20px 20px;
}

@media screen and (max-width: 819px) {
  .main__container {
    flex-direction: column;
  }
  .section {
    align-items: center;
  }
}
.header__wrapper {
  background-color: gray;
  color: white;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
  list-style: none;
}

.nav__link {
  line-height: 50px;
  transition: 3s;
  padding: 0 16px;
  transition: 0.7s;
}

.nav__link:hover {
  color: rgb(199, 209, 252);
  text-decoration: underline;
}

@media screen and (max-width: 819px) {
  .nav__item {
    text-align: center;
    width: 100%;
    margin: 0 0;
  }
}
.profile {
  border-bottom: 10px solid gray;
}

.profile__foto {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section__name {
  text-align: center;
  text-transform: uppercase;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 10px solid gray;
}

.name {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}

.section {
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #536a70;
  width: 100%;
}

.title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 20px 0;
}

.contacts__text {
  list-style: none;
}

.contacts__item {
  padding: 5px 0;
}

.contacts__item a {
  color: rgb(67, 99, 78);
  transition: 0.5s;
}

.contacts__item img {
  width: 28px;
  height: 23px;
  margin-right: 8px;
}

.contacts__text li:nth-child(6) {
  font-size: 17.8px;
}

.contacts__item a:hover {
  color: rgb(199, 209, 252);
  transition: 0.5s;
}

b {
  color: black;
  font-weight: bold;
}

.about__me {
  color: rgb(67, 99, 78);
}

.education {
  color: rgb(67, 99, 78);
  list-style: circle;
}

.education b {
  color: rgb(67, 99, 78);
}

.skill {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.skill p {
  color: black;
  padding: 4px 0px 0px 6px;
}

.level-skill-block {
  display: grid;
  grid-template-columns: repeat(5, 58px);
  grid-auto-rows: 6px;
  grid-gap: 2px;
  justify-content: start;
}

.filled-block {
  background-color: rgb(67, 99, 78);
}

.empty-block {
  background-color: black;
}

@media screen and (max-width: 767px) {
  .level-skill-block {
    grid-template-columns: repeat(5, 28px);
  }
}
.courses {
  list-style: circle;
  color: rgb(67, 99, 78);
  margin-left: 18px;
}

.courses a:hover {
  color: black;
  transition: 0.5s;
}

pre {
  color: rgb(67, 99, 78);
}

.projects {
  list-style: circle;
  color: rgb(67, 99, 78);
  margin-left: 18px;
}

.projects a:hover {
  color: rgb(199, 209, 252);
  transition: 0.5s;
}

.languages {
  list-style: circle;
  color: rgb(67, 99, 78);
  margin-left: 18px;
}

.section__languages {
  border-bottom: 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: white;
  padding: 10px 14px;
}

.my__github {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.my__github:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}